In [1]:
for i in range(1,11,1):
    print(i)
print("after loop statement")

1
2
3
4
5
6
7
8
9
10
after loop statement

In [2]:
for i in range(1,11,2):
    print(i)
print("after loop statement")

1
3
5
7
9
after loop statement

In [3]:
for i in range(2,21,2):
    print(i)
print("after loop statement")

2
4
6
8
10
12
14
16
18
20
after loop statement

In [4]:
for i in range(12,51,7):
    print(i)
print("after loop statement")

12
19
26
33
40
47
after loop statement

In [5]:
n=input("enter a number")
for i in range(1,11):
    print(i*n)
print("after loop statement")

enter a number4
4
44
444
4444
44444
444444
4444444
44444444
444444444
4444444444
after loop statement

In [4]:
n=int(input("enter 2 numbers"))
for i in range(n,n*10+1,n):
    print(i)
print("after loop statement")

enter 2 numbers20
20
40
60
80
100
120
140
160
180
200
after loop statement

In [5]:
n=int(input("start point"))
n1=int(input("end point"))
for i in range(n,n1+1):
    print(i)
print("after loop statement")

start point1
end point10
1
2
3
4
5
6
7
8
9
10
after loop statement

In [6]:
n=int(input("start point"))
n1=int(input("end point"))
n2=int(input("jump"))
for i in range(n,n1+1,n2):
    print(i)
print("after loop statement")

start point1
end point10
jump2
1
3
5
7
9
after loop statement